<% form_tag do %>
<fieldset>
	<div>
		<label for="name">Nombre de usuario:</label>
		<%= text_field_tag :nickname, params[:nickname] %>
	</div>
	<div>
		<label for="password">Password:</label>
		<%= password_field_tag :password, params[:password] %>
	</div>
	<div>
		<%= submit_tag "Login" %>
	</div>
</fieldset>
<% end %>

Nuevo usuario? <%= link_to 'Registrate', signup_path%>
