<br/>
<br/>
<br/>
<% form_tag do %>
<fieldset class="login">
	<div style="margin:auto;width:200px;">
		<%= text_field_tag :nickname, params[:nickname], :placeholder => "Nombre de usuario", :size => 30 %>
	</div>
	<div style="margin:auto;width:200px;">
		<%= password_field_tag :password, params[:password], :placeholder => "Password", :size => 30 %>
	</div>
	<div style="margin:auto;width:50px;">
		<%= submit_tag "Login" %>
	</div>
</fieldset>
<% end %>

<div style="margin:auto;width:250px;">?Nuevo en Tianguis? <%= link_to 'Unete', signup_path%></div>
