body{
	background-color:#89d2de;
	font-family: "Century Gothic";
	font-size: 16px;
}

.login{
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	width:400px;
	margin:auto;
}

.menu{
	width: 707px;
	margin: 0 auto 30px;
	height: 29px;
	background: url(../images/menu.png) no-repeat;
	text-align: right;
	padding: 20px;
}

#menu{
	position:absolute;
	display:inline;
	top:300px;
}

div.opcion a{
color: white;
text-decoration:none;
}

div.opcion{
	width:102px;
	height:27px;
	padding:11px;
	margin:10px 0;
	background:url(../images/flecha2.png) no-repeat;
	color:white:
}

.logo {	
	height: 102px;
	width: 191px;	
}

.menu input {
	float: left;
}

.pagina .banderas {
	width: 100%;
	background: url(../images/adorno.png);
	height: 68px;
}

.pagina {
	margin: auto;
	width: 745px;
	background: white;
}

.pagina .abajo {
	background: url(../images/cuerpoAbajo.png);
	height: 45px;
}

.content{
	background: url(../images/cuerpo.png);
	padding: 10px 50px 0;
	text-overflow:ellipsis;
	min-height:250px;
}

.content .descripcionArriba {
	height:59px;
	background: url(../images/descripcionAticulo.png) no-repeat right;
}

.content .descripcionAbajo {
	height:20px;
	background: url(../images/descripcionArticuloAbajo.png);	
}

.todo{
	margin:auto;
	width:906px;
}

.forma input[type=text], .forma input[type=password]{
	background:url(../images/campo.png) no-repeat top;
	height:25px;
	width:237px;
	border:none;
	padding: 0 5px 20px 5px;
	font-size:18px;
}

.forma table, th, td{
	border:9px;
}

.forma input[type=submit]{
	background:url(../images/crearCuenta.png);
	height: 47px;
	width: 137px;
	font-size:18px;
	color:white;
}

.fotoArticulo {
	height:160px;
	width:160px;
	display: inline;
	float: left;
	
}

.reputacion {
	width:310px;
	float: right;
	height: 160px;
}

.descripcionCuerpo{
	padding:0 30px 0;
}

.descripcionArticulo {
	margin: auto;
	background:url(../images/descripcionArticuloCuerpo.png);
	width:552px;
}

.Articulos{
	background:url(../images/marcoProducto.png);
	width:683px;
	height:104px;
	margin:10px -16px 0;
}

.Articulos .contenido{
	height:50px;
	padding: 20px 25px 0;
}

.btnComprar{
	background:url(../images/botonComprar.png);
	width:79px;
	height:27px;
	position: relative;
	left: 580px;
	border:none;
}

.comprar{
	float:right;
	background:url(../images/botonComprar.png);
	height:27px;
	width:79px;
	
}

.vendedor{
	height: 165px;
	margin: 0 auto 30px;
	width: 552px;
}

input[type=text], input[type=password]{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

img{
	border:0px;
}

div.fieldWithErrors{
	display:inline;
}
