<p>
  <b>Amigouno:</b>
  <%=h @amigo.Amigo_uno_id %>
</p>

<p>
  <b>Amigodos:</b>
  <%=h @amigo.Amigo_dos_id %>
</p>


<%= link_to 'Edit', edit_amigo_path(@amigo) %> |
<%= link_to 'Back', amigos_path %>