<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>El tianguis - ¡Llevele! ¡Llevele!</title>
	<%= stylesheet_link_tag "index"%>
</head>

<body>
	<div class="todo">
	  <div class="pollitos">
      <img src="../images/logo.png" />
      <img src="../images/polloMorado.png" />
			<img src="../images/polloNaranja.png" style="position:relative;left:30%"></div>
			<div class="contenido">
				<form action="" method="get">
					<input type="text" name="busca" />
					<input type="submit" value="" />
				</form>
             <div>
             <a href="">Registrate</a>
             </div>
			</div>
		</div>
	</body>
	</html>
