<div class="Articulos">
	<div class = "contenido">
		<%= articulo.nombre %><br/>
		<%= articulo.descripcion %><br/>
		<%= number_to_currency(articulo.precio) %><br/>
	</div>
	<input type="button" class="btnComprar" value="" />
</div>