<div class="Articulos">
	<div class = "contenido">
		<table>
			<tr>
				<td rowspan="3"><%= image_tag articulo.imagenUno(:medium) %></td>
			</tr>
			
		</table>
		
	</div>
	<% if articulo.status == 0 %>
		<%= button_to '', {:controller => "articulo", :action => "comprar", :id => articulo.id}, :class => "btnComprar" %>
	<% else %>
		<%= button_to '', {:controller => "usuarios", :action => "comprar",
			:id => articulo.id}, :class => "btnComprar", :disabled => "disabled"%>
	<% end %>
</div>