<h2><%= @articulo.nombre.capitalize %></h2>
<div class="vendedor">
	<div class="fotoArticulo">
	<%= image_tag @articulo.imagenUno(:medium) %>
	</div>
	<div class="reputacion">
		<div style="border:black solid 1px; height:133px;">
			<%= link_to @articulo.vendedor.nickname, usuario_path(@articulo.vendedor.nickname)%><br/>
		</div>
	</div>
</div>

<div class="descripcionArticulo">
	<div class="descripcionArriba"></div>
	<div class="descripcionCuerpo">
		<%= @articulo.descripcion %>
	</div>
	<div class="descripcionAbajo"></div>
</div>
